Binaries
DerivedDataCache
Intermediate
Saved
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ThirdPersonBP/Maps/ThirdPersonExampleMap.umap
Content/ThirdPersonBP/Maps/ThirdPersonExampleMap.umap
